.banner-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column; 
    background: linear-gradient(#304968, #36C1A0, #4650BD);
}
.banner__boasvindas-home{
    width: 100vw;   
}
.banner__imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem__homepage{
    margin: 2em 0;
}
